<div class="popup popup-about">
  <div class="close-button close-popup">
    <%= image_tag "ast2.png", class: "close-ast", size: "30x30" %>
  </div>
  <div class="pmenu menu1 close-popup">
    <div class="aisatsu">
      <p>
      拝啓　春陽の候<br>皆様におかれましては益々ご健勝のこととお慶び申し上げます<br>
      私たちは平成26年11月11日に入籍し 新生活をスタートさせました<br>
      つきましては ご挨拶を兼ねまして ささやかですが小宴を催したいと存じます<br>
      ご多用中 誠に恐縮ではございますが ぜひご出席をいただきたく ご案内申し上げます</p>
      <p class="keigu">敬具</p>
      <div class="info">
        <p class="info-title"><%= image_tag "ast2.png", class: "close-ast", size: "15x15" %>日時<%= image_tag "ast2.png", class: "close-ast", size: "15x15" %></p>
        平成27年6月14日(日)<br>
        集　合　　14時40分<br>
        （本館4階控え室）<br><br>
        挙　式　　15時00分<br>
        披露宴　　16時00分<br><br>
        <p class="info-title"><%= image_tag "ast2.png", class: "close-ast", size: "15x15" %>会場<%= image_tag "ast2.png", class: "close-ast", size: "15x15" %></p>
        八芳園 白鳳館<br>
        東京都港区白金台1-1-1
      </div>
      <p>平成27年4月吉日</p>
      <p style="text-align: right;">
      細川貴英<br>
      吉田美里</p>
    </div>
  </div>
  <div class="pmenu menu2 close-popup">
    <div class="aisatsu">
      <p>
      私たちふたりが<br>
      結婚式に選んだコンセプトは<br>
      <%= image_tag "ast2.png", class: "close-ast", size: "15x15" %> 
      （スター）です<br><br>
      かけ算の意味があるこの記号は<br>
      あらゆるものの融合を表します<br><br>
      和と洋のかけ算<br>
      三重と京都のかけ算など<br>
      当日はさまざまなものの融合を<br>
      お楽しみいただけるよう<br>
      精一杯のおもてなしを<br>
      させていただく予定です<br><br>
      <%= image_tag "keyboard.jpg", class: "keyboard" %>
      <br><br>キーボードを見たら<br>
      たまたま
      <%= image_tag "ast2.png", class: "close-ast", size: "15x15" %> 
      は８と同じ<br>
      場所にありました<br><br>
      ふたりの誕生月である８<br>
      八芳園の頭文字でもある８は<br>
      漢字にすれば八（末広がり）<br>
      横にすれば∞（無限大）と<br>
      何かと縁起の良い数字です<br><br>
      当日はいたるところに<br>
      スターや８を散りばめた<br>
      いろんなものの「かけ算」を<br>
      お楽しみください<br>
      </p>
    </div>
  </div>
  <div class="pmenu menu3">
    <div class="list-block">
      <ul>
        <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title label">コード</div>
            <div class="item-input">
              <input class="invite" type="text" placeholder="6桁の数字を入力">
            </div>
          </div>
        </div>
        </li>
        <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title label guest"></div>
            <div class="item-input">
              <input class="guest-name" type="text" placeholder="">
            </div>
          </div>
        </div>
        </li>
        <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title label">挙式出欠</div>
            <div class="item-input">
              <label class="label-switch">
                <input class="attend1" type="checkbox">
                <div class="checkbox"></div>
              </label>
            </div>
          </div>
        </div>
        </li>
        <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title label">披露宴出欠</div>
            <div class="item-input">
              <label class="label-switch">
                <input class="attend2" type="checkbox">
                <div class="checkbox"></div>
              </label>
            </div>
          </div>
        </div>
        </li>
        <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title label">メッセージ</div>
            <div class="item-input">
              <textarea class="message" placeholder="アレルギー食材等あれば、ここに書いてください。" col="100" style="font-size: 90%; max-width: 100%;"></textarea>
            </div>
          </div>
        </div>
        </li>
        <p class="my-button submit">送信</p>
      </ul>
    </div>
  </div>
</div>

<div class="panel-overlay"></div>

<!-- Left Panel with Reveal effect -->
<div class="panel panel-left panel-reveal">
  <div class="content-block">
    <ul class="menu">
      <li id="1" class="open-popup border">ごあいさつ</li>
      <li id="2" class="open-popup border">コンセプト</li>
      <li id="3" class="open-popup border">出席確認</li>
      <a target="_blank" href="http://www.happo-en.com/access/">
        <li class="border">
        会場地図
        </li>
      </a>
      <a href="http://lastage.info/redirect.html">
        <li>
        English
        </li>
      </a>
    </ul>
    <div class="keyboard">
      <div><%= image_tag "ast1.png", size: "50x50" %></div>
      <div><%= image_tag "8.png", size: "50x50" %></div>
    </div>
  </div>
</div>

<div class="views">
  <div class="view view-main">
    <div class="page-content">
      <div class="content-block open-panel">
        <div class="top">
          <div class="top1">
            <p>JUNE BRI.DE</p>
          </div>
          <div class="top2">
            <p>JUNE 14TH 2015</p>
          </div>
          <div class="top3">
            <p>HAPPOEN</p>
          </div>
        </div>
        <div class="menu-button open-panel">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <div class="names">
          <p class="left">TAKAHIDE</p>
          <p class="right">MISATO</p>
        </div>
        <div class="chu">
          <p>※ 当日は、和婚です。</p>
        </div>
        <div class="top4 open-panel">
          <p class="click-here">CLICK HERE!</p>
        </div>
        <%= image_tag "kekkon.png", class: "top-image" %>
        <%= image_tag "kekkon_black.png", class: "top-image black" %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(".page-content").snowfall({
flakeCount :20, // 数
flakeIndex : 99999, // スタイルシートのz-indexの値
maxSpeed : 3, // 最大速度
minSpeed : 1, // 最小速度
maxSize  : 20, // 最大サイズ
minSize  : 1, // 最小サイズ
image : '/images/ast1.png'
});
</script>
